global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:{{ haproxy_frontend_port }}
    default_backend webservers

backend webservers
{% for server in haproxy_backend_servers %}
    server {{ server.name }} {{ server.address }}:{{ server.port }} check
{% endfor %}
